.main_map
    // width: 1440px
    // height: 900px
    width: 100vw
    height: 62.5vw
    background: url('../image/web_1440x900.jpg') no-repeat
    background-size: cover
    background-position: center center
    margin: 0 auto

.angle
    color: rgba(255, 84, 84, 0.5)

@media (max-width:1440px)
    .main_map
        width: 100vw
        height: 60vw

@media (max-width:499px)
    .main_map
        background: url('../image/mobile_1000x1100.jpg') no-repeat
        width: 100vw
        height: 110vw
        background-size: 100% 100%
        background-position: center center
        // margin-bottom: 10px
